.empty {
  color: var(--yomogi-11);
}

.cartItems {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-cinzel-decorative);
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--yomogi-11);
  margin: 1rem 0;
}

.actions {
  text-align: right;
  font-family: var(--font-cinzel-decorative);
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: var(--mysticgrape-10);
  border: 1px solid var(--mysticgrape-10);
  color: var(--yomogi-0);
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: var(--mysticgrape-7);
  border-color: var(--yomogi-11);
  color: var(--yomogi-0);
}

.actions .buttonAlt {
  color: var(--yomogi-11);
  background-color: var(--yomogi-0);
}

.actions .buttonAlt:hover,
.actions .buttonAlt:active {
  background-color: var(--mysticgrape-7);
  color: var(--yomogi-0);
}

.number {
  font-family: var(--font-montserrat);
}
