.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--yomogi-9);
  padding: 1rem 0;
  margin: 1rem 0;
}

.cartItem h2 {
  font-family: var(--font-cinzel-decorative);
  color: var(--yomogi-11);
  margin: 0 0 0.5rem 0;
}

.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-montserrat);
  color: var(--yomogi-11);
  width: 10rem;
}

.price {
  font-weight: bold;
  color: var(--yomogi-9);
}

.amount {
  font-weight: bold;
  color: var(--yomogi-11);
  border: 1px solid var(--yomogi-0);
  border-radius: 6px;
  padding: 0.25rem 0.75rem;
}

.actions {
  display: flex;
  flex-direction: column;
  font-family: var(--font-montserrat);
  color: var(--yomogi-11);
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
}

.cartItem button {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--mysticgrape-7);
  border: 1px solid var(--mysticgrape-7);
  width: 3rem;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 1rem;
  margin: 0.25rem;
}

.cartItem button:hover,
.cartItem button:active {
  background-color: var(--mysticgrape-7);
  color: var(--yomogi-0);
  border: 2px solid var(--mysticgrape-0);
}
