.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background: linear-gradient(to left top, #40135c, #8a62c2);
  border: 1px solid #e0f7ec;
  color: #e0f7ec;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background: linear-gradient(to left top, #4f188a, #ba93fe);
  border-color: #e0f7ec;
}
