.meal {
  display: flex;
  justify-content: space-between;
  color: var(--yomogi-9);
  border-bottom: 1px solid var(--yomogi-5);
  padding-bottom: 1rem;
  margin: 1rem;
}

.meal h3 {
  font-family: var(--font-cinzel-decorative);
  font-weight: 800;
  color: var(--yomogi-9);
  letter-spacing: 0.05rem;
}

.container {
  margin-right: 0.5rem;
}

.title {
  display: flex;
  justify-content: start;
  align-items: baseline;
  gap: 24px;
}

.price {
  font-weight: 400;
  font-style: italic;
}

.description {
  font-family: var(--font-cormorant-garamond);
  color: var(--yomogi-11);
  font-style: italic;
  font-size: 18px;
}

.details {
  display: flex;
  font-family: var(--font-montserrat);
  color: var(--yomogi-9);
  font-size: 1rem;
  margin-top: 0.25rem;
}

.time {
  font-weight: bold;
  padding-right: 1rem;
}

@media only screen and (max-width: 440px) {
  .meal {
    flex-direction: column;
  }
}
