.form {
  text-align: right;
}

.form button {
  font-family: var(--font-cinzel-decorative);
  font-weight: bold;
  color: var(--yomogi-0);
  background: linear-gradient(
    to left top,
    var(--mysticgrape-11),
    var(--mysticgrape-5)
  );
  cursor: pointer;
  border-radius: 20px;
  padding: 0.25rem 2rem;
}

.form button:hover,
.form button:active {
  background: linear-gradient(
    to left top,
    var(--mysticgrape-9),
    var(--mysticgrape-1)
  );
}
