.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background: linear-gradient(
    to left top,
    var(--mysticgrape-11),
    var(--mysticgrape-5)
  );
  color: var(--yomogi-0);
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background: linear-gradient(
    to left top,
    var(--mysticgrape-9),
    var(--mysticgrape-1)
  );
}
