@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 240;
  --background-end-rgb: 255, 255, 255;

  --yomogi-0: #e0f7ec;
  --yomogi-1: rgb(212, 243, 220);
  --yomogi-2: #b8dcbb;
  --yomogi-3: #95bf89;
  --yomogi-4: #90be76;
  --yomogi-5: #81af6d;
  --yomogi-6: #6e975a;
  --yomogi-7: #63885f;
  --yomogi-8: #446639;
  --yomogi-9: rgb(46, 80, 49);
  --yomogi-10: rgb(36, 61, 31);
  --yomogi-11: #1d3218;

  --mysticgrape-0: #c3adff;
  --mysticgrape-1: #ba93fe;
  --mysticgrape-2: #b58bfc;
  --mysticgrape-3: #a685f0;
  --mysticgrape-4: #9e80fc;
  --mysticgrape-5: #8a62c2;
  --mysticgrape-6: #7954b1;
  --mysticgrape-7: #673c97;
  --mysticgrape-8: rgb(85, 32, 141);
  --mysticgrape-9: #4f188a;
  --mysticgrape-10: #4a1a6d;
  --mysticgrape-11: #40135c;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
