.title {
  text-align: center;
  font-family: var(--font-cinzel-decorative);
  color: var(--yomogi-11);
  font-size: 6rem;
  letter-spacing: 0.75rem;
  margin-top: 5rem;
  margin-bottom: 0.5rem;
}

.container {
  position: relative;
  z-index: 1;
  padding: 2rem;
}

.backgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  opacity: 0.3;
}

.subtitle {
  text-align: center;
  font-family: var(--font-cormorant-garamond);
  font-style: italic;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  margin-bottom: 0.8rem;
}
