.container {
  position: relative;
  z-index: 1;
  padding: 2rem;
}

.backgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  opacity: 0.3;
}

.title {
  text-align: center;
  font-family: var(--font-cinzel-decorative);
  color: var(--yomogi-11);
  font-size: 6rem;
  letter-spacing: 0.75rem;
  margin-top: 5rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  text-align: center;
  font-family: var(--font-cormorant-garamond);
  font-style: italic;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  margin-bottom: 0.8rem;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
  .title {
    font-size: 4rem;
    margin-top: 4rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 430px) {
  .title {
    font-size: 3rem;
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 360px) {
  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 0.8rem;
  }
}
