.container {
  max-width: 650px;
  display: flex;
  align-items: center;
}

.summary {
  position: relative;
  text-align: center;
  width: 90%;
  padding-bottom: 2.4rem;
  margin: auto;
  margin-top: 2rem;
}

.paragraph p {
  font-family: var(--font-cormorant-garamond);
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 2rem;
}

.button {
  font-family: var(--font-cinzel-decorative);
  font-weight: bold;
  font-size: 14px;
  color: #e0f7ec;
  background: linear-gradient(
    to left top,
    var(--mysticgrape-11),
    var(--mysticgrape-5)
  );
  cursor: pointer;
  box-shadow: var(--yomogi-11) 3px 2px 12px;
  border-radius: 25px;
  padding: 0.3rem 0.8rem;
}

.button:hover,
.button:active {
  background: linear-gradient(to left top, #4f188a, #ba93fe);
}

@media only screen and (min-width: 320px) {
  .summary {
    padding-bottom: 1rem;
    margin-top: 0;
  }
  .paragraph p {
    margin-bottom: 1rem;
  }
  .button {
    font-size: 14px;
    padding: 0.3rem 0.8rem;
  }
}

@media only screen and (min-width: 420px) {
  .button {
    font-size: 16px;
    padding: 0.5rem 1rem;
  }
  .paragraph p {
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 640px) {
  .paragraph {
    font-size: 1.2rem;
  }
  .paragraph p {
    margin-bottom: 1.5rem;
  }
  .button {
    font-size: 18px;
    padding: 0.65rem 2rem;
  }
}
@media only screen and (min-width: 1024px) {
  .paragraph {
    font-size: 1.2rem;
  }
}
