.card {
  box-shadow: 1px 1px 12px var(--yomogi-11);
  border-radius: 14px;
  background: linear-gradient(
    to bottom right,
    var(--yomogi-0) 45%,
    var(--mysticgrape-0) 100%
  );
  padding: 1rem;
}
