.input {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.input label {
  font-family: var(--font-cinzel-decorative);
  font-weight: bold;
  font-size: 14px;
  margin-right: 1rem;
}

.input input {
  font-family: var(--font-montserrat);
  width: 3rem;
  border-radius: 5px;
  border: 1px solid var(--yomogi-0);
  padding-left: 0.5rem;
}
