.input {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.input label {
  font-family: var(--font-cinzel-decorative);
  font-weight: bold;
  font-size: 14px;
  margin-right: 1rem;
}

.input input {
  background-color: var(--mysticgrape-0);
  font-family: var(--font-montserrat);
  font-weight: bold;
  text-align: center;
  width: 2rem;
  border-radius: 5px;
  border: 1px solid var(--yomogi-0);
  padding: 0.25rem;
  -moz-appearance: textfield; /* Firefox */
  appearance: none;
}

.input input::-webkit-inner-spin-button,
.input input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputBtn {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--mysticgrape-7);
  border: 1px solid var(--mysticgrape-7);
  width: 2.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0.25rem;
}

.inputBtn:hover,
.inputBtn:active {
  background-color: var(--mysticgrape-7);
  color: var(--yomogi-0);
  border: 1px solid var(--mysticgrape-0);
}

/* Media query for smaller screens */
@media only screen and (max-width: 640px) {
  .input {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr;
  }

  .input label {
    margin: 0;
    grid-column-start: span 3;
    text-align: center;
    align-self: start;
  }

  .btnL {
    display: block;
  }

  .btnR {
    display: block;
  }
}
